
* {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: large;
  font-style: normal;
  color: green;
}

body {
  background-color: black;
}

.hidden-icon {
  visibility: hidden;
}

li:hover > * {
  visibility: visible;
}